@media (min-width: 768px) { 
    footer{
        height: 190px;
    }
}

footer{
    background: #FFEA3F ;
    color: red;
    padding: 20px 0;
    position: relative;
    left: 0;
    bottom: 0;
}

.logo{
    max-width: 80px;
    margin: auto;
    align-self: center;
}

footer a{
    color:red;
}
footer a:hover{
    color:brown
}
